<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ServiceConfig" type="SystemConfigurator.ServiceConfigSection, SystemConfigurator"/>   
  </configSections>
  <ServiceConfig>
    <Services>
      <Service role="Master" number="1"/>
      <Service role="Slave" number="3"/>
      <Service role="Slave" number="3"/>
    </Services>
  </ServiceConfig>
    
  <system.diagnostics>
    <switches>
        <add name="logSwitch" value="1"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Path" value="users.xml" />
  </appSettings>
  
</configuration>