<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceConfig" type="SystemConfigurator.ServiceConfigSection, SystemConfigurator"/>
  </configSections>
  <ServiceConfig>
    <Services>

      <!--Slave-->
      <Service role="Slave" type="UserStorage.IUserService, UserStorage" port="2222" host="127.0.0.1"/>
      
      <!--Master-->
      <!--<Service role="Master" type="UserStorage.IUserService, UserStorage" port="1111" host="127.0.0.1">
        <Slaves>
          <Slave port="2222" host="127.0.0.1"/>
        </Slaves>
      </Service>-->

      <!--Proxy-->
      <!--<Service role="Proxy" type="UserStorage.IUserService, UserStorage" port="5555" host="127.0.0.1">
        <Slaves>
          <Slave port="1111" host="127.0.0.1"/>
          <Slave port="2222" host="127.0.0.1"/>
        </Slaves>
      </Service>-->
  
    </Services>
  </ServiceConfig>

  <system.diagnostics>
    <switches>
      <add name="logSwitch" value="0"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="Path" value="users.xml" />
  </appSettings>
</configuration>